html {
    background: darkgreen;
    text-align: center;
}

body {
    color: white;
}

.btn a {
    color: whitesmoke;
}

body.loaded {
    background-color: slategrey;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

#upper {
    font-size: 2rem;
    font-family: "Press Start 2P";
    text-shadow: .1rem .1rem .1rem green;
}

#connect {
    background: black;
    margin: auto;
    text-align: center;
}

footer {
    font-size: .4rem;
    background: black;
    text-shadow: 1rem 1rem 1rem black;
}