body.loaded {
    background-color: #1a5c9a;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

footer {
    color: black;
}

.footer {
    margin-top: -1.3rem;
    padding: .09rem;
    background-color: rgba(0, 0, 0, .15);
}

a {
    color: slategrey;
    text-shadow: .04rem .03rem .13rem black;
}

a:hover {
    text-shadow: .04rem .03rem .13rem white;
}

.navbar {
    margin-top: 0;
    background-color: rgba(0, 0, 0, .15);
}